
<div class="container">
    <div class="meta">
        <h2 class="title"><%= __(('Total Tags: ' + site.tags.length)) %></h2>
    </div>
    
    <div class="divider"></div>
    
    <div class="tags">
        <%- tagcloud({min_font: 14, max_font: 36, amount: 200}) %>
    </div>

</div>
